
@{
    ViewBag.Title = "Status brisanja proizvoda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success" role="alert">Podaci o proizvodu su uspješno obrisani</div>
@Html.ActionLink("Povratak na popis proizvoda", "PopisProizvoda");

