
@{
    //ViewBag.Title = "Početna stranica sa proizvodima";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Skladiste PAUP</h2>
<br />
Skladiste: @ViewBag.Skladiste
<br />

Popis proizvoda: @Html.ActionLink("-=LINK=-","PopisProizvoda")