
@{
    //ViewBag.Title = "Početna stranica sa proizvodima";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Trgovina PAUP</h2>
<br />
Trgovina: @ViewBag.Trgovina
<br />

Popis proizvoda: @Html.ActionLink("-=LINK=-","PopisProizvoda")